@font-face {
    font-family: Quicksand ;
    src: url(../font/Quicksand-Bold.otf);
}
body{
    border: 0;
    background-color: rgb(198, 249, 255);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;

    justify-content: space-around; 
    align-items: center;
}


/* Textos */

#texto{
    margin-top: 160px;
    font-size: 50px;
    color: rgb(87, 107, 255);
    /* Añadir reborde al texto */
    -webkit-text-stroke: .8px rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#boton{
    height: 70px;
    width: 200px;
    color: white;
    font-size: 30px;
    background-color: rgb(211, 51, 110);
    border: solid 2px rgb(177, 0, 59);
    border-radius: 20px;
    cursor: pointer;
}

#boton:hover{
    transform: scale(1.1);
}

/* Botón para volver al inicio */
#back{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 201, 236);
    height: 70px;
    width: 170px;
    border-end-end-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 20px;
    
    font-size: 50px;
    text-decoration: none;
    color: rgb(87, 171, 255);
    font-family: Quicksand;
}

/* Inventario */
#equipo{
    background-color: rgb(255, 158, 242);

    height: 120px;
    width: 400px;

    position: absolute;
    bottom: 0px;

    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    border-radius: 10px;
}

#espacio{
    position: absolute;
    z-index: 0;
    background-color: rgb(187, 71, 172);
    height: 100px;
    width: 350px;
    margin: 5px;

    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Mochila */

#mochila{
    height: 400px;
    margin-top: 200px;
    cursor: pointer;
}

#mochila:hover{
    transform: scale(1.1);
}

#espaciomochila{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 210px;
    width: 160px;
}

/* INVENTARIO */

#interiorMochila{
    background-color: rgb(255, 154, 238);
    height: 600px;
    width: 600px;
    margin-top: 1000px;
    padding: 20px;

    position: absolute;
    border-radius: 10px;
    z-index: 200;
}

/* Compra */

#compra{
    position: absolute;
    top: 400px;
    width: 900px;
    height: 600px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}

    /* interior contenedor */
    #compra p{
        position: absolute;
        font-size: 35px;
        font-family: quicksand;
    }

    #dinero{
        position: absolute;
        top: -50px;
        height: 50px ;
        width: 100px;
        font-size: 40px;
        font-family: quicksand;
        background-color: aquamarine;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comida{
        z-index: 20;
        height: 180px;
        margin: 10px;
        cursor: pointer;
    }

    .comida:hover{
        transform: scale(1.1);
    }

/* Cats */

#cats{
    position: absolute;
    top: 400px;
    width: 900px;
    height: 500px;
    background-color: rgb(228, 197, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}

    /* interior gatos */
    #cats p{
        position: absolute;
        top: 0;
        font-size: 30px;
        font-family: quicksand;
        text-align: center;
    }

    .cat{
        height: 180px;
        margin-top: 100px;
    }

    .catsin{
        margin-top: -10px;
        height: 75px;
    }


/* Peleas final */

#peleas{
    position: relative;
    height: 800px;
    width: 900px;
    background-color: rgb(215, 255, 155);

    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* vida y corazones */

        #vida{
            position: absolute;
            right: 10px;
            top: 10px;
            height: 70px;
            width: 220px;
            border-radius: 20px;
            background-color: rgb(255, 205, 213);

            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .hearts{
            height: 60px;
        }

    /* Guia y carteles */
        #guia{
            padding: 20px;
            position: absolute;
            top: -20px;
            left: 10px;
            width: 600px;
            height: 70px;
            background-color: rgb(189, 255, 90);

            font-size: 30px;
        }

        #ganaste{
            position: absolute;
            top: 250px;
            background-color: rgb(0, 225, 255);
            height: 400px;
            width: 650px;
            border-radius: 30px;

            display: flex;
            align-items: center;

            font-size: 80px;
            text-align: center;
            font-family: quicksand;
            color: rgb(0, 0, 255);
        }

        #perdiste{
            position: absolute;
            top: 150px;
            background-color: rgb(206, 2, 2);
            height: 500px;
            width: 600px;
            border-radius: 30px;

            display: flex;
            align-items: center;

            font-size: 55px;
            text-align: center;
            font-family: quicksand;
            color: rgb(255, 170, 170);
        }

        #pausa{
            position: absolute;
            top: 150px;
            background-color: rgb(189, 255, 90);
            height: 500px;
            width: 600px;
            border-radius: 30px;

            display: flex;
            align-items: center;

            font-size: 55px;
            text-align: center;
        }
    
        /* Criatura */
        #boss{
            margin-top: 150px;
            height: 500px;
        }

        /* boton fight */
        #fight{
            height: 70px;
            width: 200px;
            color: rgb(177, 0, 59);
            font-size: 30px;
            background-color: rgb(75, 211, 51);
            border: solid 2px rgb(177, 0, 59);
            border-radius: 20px;
            cursor: pointer;

            position: absolute;
            bottom: 40px;
        }
        
        #fight:hover{
            transform: scale(1.1);
        }


/* Final */

#final{
    height: 1000px;
    width: 1000px;
    background-color: pink;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#lost{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: crimson;
    height: 400px;
    width: 900px;

    font-size: 60px;
    color: white;
    font-family: quicksand;
}

#dead{
    height: 400px;
}

#casa{
    height: 500px;
    width: 800px;
    background-image: url(../IMG/Casa.jpg);
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#pive{
    height: 400px;
}